# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#XCODE
*.xcodeproj
*.xcuserstate
*.pbxproj

#APP specific
App/libs/
App/build/ImagesGeneriques
App/build/Images-Generiques.build/

build/Images-Generiques\.build/

Processus d'auto-générativité\.txt

App/build/assets/SVG/my_svg\.svg

App/build/exports/artist2\.svg

App/artist2\.svg
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/launch.json

\.vscode/

App/build/indexLibrary/exports/

App/build/indexLibrary/indexLibrary\.json
